body {
    background-image: url(../img/Geography.jpg);
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;;
}

#question-board {
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
    font-family:Arial, Helvetica, sans-serif
}

h1 {
    font-size: 80px;
}

#logo {
    height: 150px;
    width: 200px;
    float: left;
    margin-top: -65px;
}
footer {
    color: #fff;
    margin-top: 50px;
}