body {
    background-image: url(../img/Geography.jpg);
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;;
}

#question-board {
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
}

h1 {
    font-size: 80px;
}