#network {  /* Configurations for the header <header> tag */
    padding-top: 150px;
    margin: 0px;
    height: 275px;
    background-image: url(../img/network-devices.jpg);
    background-size: cover;
}

/* Top of the page header styling */
.header-text {
    margin-right: 600px;
    background-color: rgba(128, 128, 128, 0.5);
    color: #ffffff;
    text-shadow: 2px 10px 10px #000000;
}

#comp-header {
    font-size: 50px;
}
#net-header {
    font-size: 150px;
}

/* Navigation styling modifications */
nav, nav a {
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: #000000;
    padding: 20px;
}

a:hover {
    text-decoration: underline;
    font-size: 30px;
}

/* Main/body styling */

#content h1 {
    text-shadow: 2px 2px #000000;
    font-size: 50px;
}

.home-content {
    font-size: 20px;
}

#overview {
    margin: auto 50px;
}
#internet-img {
    margin: 0px 200px;
    height: 800px;
    width: 1200px;
}

.overview-topic {
    display: block;
    font-size: 25px;
    padding-bottom: 10px;

}

/* Footer styling */
footer {
    color: #0a0a7d;
    margin-top: 0px;
    text-align: center;
}

#logo {
    float: left;
    height:150px;
    margin-top: -50px;
}

#sources ul {
    width: fit-content;
    margin: 0px auto;
}

/* -----------------------End Homepage content Styling-------------------------- */

/* ------------------TCP|UDP style configurations---------------------------- */
#transport-head {
    height: 600px;
    background-image: url(../img/tcp-vs-udp.jpg);
    background-size: cover;
    background-position: 100% 20%;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #000000;
}

/* body container holding udp|tcp image and content */w
#udp-vs-tcp {
    border: #000000 solid;
    margin: 50px;
}

#udp, #tcp, figure {
    padding-top: 30px;
}

.content-img {
    height: 200px;
    width: 300px;
    margin-top: -50px;
    float: left;
    padding-right: 20px;
}

#tcp, #udp {
    padding-left: 150px;
}

#tcp {
    clear: both;
}

.protocol-text {
    margin-bottom: 100px;
    margin-top: -20px;
    font-size: 25px;
}

.protocol-name {
    display: block;
}

#handshake {
    height: 500px;
    width: 900px;
    margin-left: 25%;
}
#handshake-text, ol {
    margin-top: 50px;
    font-size: 25px;
}
/* ------------------End TCP|UDP style configurations------------------------ */

/* ------------------Routing and Forwarding style configurations------------------------ */
#routing-head {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    margin-bottom: -50px;
    text-shadow: 5px 5px#7b7b7b;
}

#compare {
    display: flex;
    justify-content: center;
    height: 300px;
}

h2, #r-and-f {
    text-align: center;
}

.container {
    border: #676767 outset;
    padding: 20px;
}
#r {
    background-color: rgba(0, 255, 255, 0.5);
}
#f {
    margin-right: 10px;
    background-color: rgba(0, 255, 140, 0.5);
}
/* ------------------End Routing and Forwaring style configurations------------------------ */

/* ------------------Router Structure style configurations------------------------ */

#page-bg {
    background-color: #6f6f8e;
}

#inside-router-img {
    display: block;
    margin: 0px auto;
}

#router-header {
    border: #000000 solid;
    height: 200px;
    background-image: url(../img/router.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header-text {
    background-color: rgba(103, 103, 103, 0.5);
    font-size: 50px;
    text-shadow: 5px 5px 5px #000000;
    margin-right: 50%;
    margin-top: 100px;
    color: #a98453;
}
#router {
    background-color: rgba(175, 175, 175, 0.3);
    border: #000000 solid;
    margin: auto 50px;
}

table {
    margin: 50px auto;
    color: #ffffff;
}

.table-header {
    background-color: #000000;
    font-size: 30px;
}

.data {
    background-color: #2c2c61;
    font-size: 20px;
}

td {
    padding: 10px;
}
/* ------------------End Router Structure style configurations------------------------ */
