#network {  /* Configurations for the header <header> tag */
    padding-top: 150px;
    margin: 0px;
    height: 275px;
    background-image: url(../img/network-devices.jpg);
    background-size: cover;
}

/* Top of the page header styling */
.header-text {
    margin-right: 600px;
    background-color: rgba(128, 128, 128, 0.5);
    color: #ffffff;
    text-shadow: 2px 10px 10px #000000;
}

#comp-header {
    font-size: 50px;
}
#net-header {
    font-size: 150px;
}

/* Navigation styling modifications */
nav, nav a {
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: #000000;
    padding: 20px;
}

a:hover {
    text-decoration: underline;
    font-size: 30px;
}

/* Main/body styling */
#content {
    border: purple solid; 
}

#content h1 {
    text-shadow: 2px 2px #000000;
    font-size: 40px;
}

#overview {
    border: blue solid;
    margin: auto 50px;
}

/* Footer styling */
footer {
    color: #0a0a7d;
    margin-top: 0px;
    text-align: center;
}

#logo {
    float: left;
    height:150px;
    margin-top: -50px;
}
/* -----------------------End Homepage content Styling-------------------------- */

/* ------------------TCP|UDP style configurations---------------------------- */
#transport-head {
    height: 500px;
    background-image: url(../img/tcp-vs-udp.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #000000;
}

/* body container holding udp|tcp image and content */w
#udp-vs-tcp {
    border: #000000 solid;
    margin: 50px;
}

#udp, #tcp, figure {
    padding-top: 30px;
}

.content-img {
    height: 200px;
    width: 300px;
    margin-top: -50px;
    float: left;
    padding-right: 20px;
}

#tcp, #udp {
    padding-left: 150px;
}

.protocol-text {
    margin-bottom: 50px;
}
/* ------------------End TCP|UDP style configurations------------------------ */

/* ------------------Routing and Forwarding style configurations------------------------ */
#routing-head {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    margin-bottom: -50px;
    text-shadow: 5px 5px#7b7b7b;
    text-decoration: dotted;
}

#compare {
    display: flex;
    justify-content: center;
    height: 300px;
    background-image: ;
}

h3 {
    text-align: center;
}
.container {
    border: #676767 outset;
    padding: 20px;
}
#r {
    background-color: rgba(0, 255, 255, 0.5);
}
#f {
    margin-right: 10px;
    background-color: rgba(0, 255, 140, 0.5);
}
/* ------------------End Routing and Forwaring style configurations------------------------ */

/* ------------------Router Structure style configurations------------------------ */

/* ------------------End Router Structure style configurations------------------------ */
