/*
    Jessica Sandoval 
    CST336 - Lab 1: ePortfolio
    CSS Stylesheet
*/

/* Header style modifications */
.header {
    color: blueviolet;
    font-family: 'Courier New', Courier, Arial, sans-serif;
    margin-left: 34%;
}
.icon {
        float: left;
        height: 120px;
        width: 120px;
        margin-top: -145px;
        margin-left: 200px;
        opacity: 50%;
        border-radius: 300px;
        border-style: solid;
        border-color: blueviolet;
}

h1 {
    font-size: 65px;
}

h3 {
    font-size: 20px;
    margin-top: -50px;
    margin-right: 43%;
    float:right;
}

#top {
    width: 95%;
    margin-left: 50px;
    margin-bottom: 25px;
}

#bottom {
    margin-top: 25px;
}

/* Background configuration using properties to center
    and fill the main page background */
body {

    background-image: url(img/background-blk-purple-curcuit-board.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


}

.home-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#profile-pic {
    width: 500px;
    height: 475px;
    margin-left: 50px;
    margin-top: 0px;
    border-radius: 300px;
    border-style: solid;
    border-color: blueviolet;
}


.left-column {
    width: 775px;
    height: 400px;
    border: inset;
    border-color: grey;
    margin-top: 20px;
    margin-left: 150px;
    color: lightgray;
    padding: 50px;
    text-align: center;
}

figcaption {
    color: lightgray;
    margin-top: 25px;
}

nav {
    font-size:28px;
    text-align: center;
}

nav a{
    padding: 50px;   /* Spaces out the link text. Padding targets inner-space */
    color: lightgray; /* default color or link is blue */
    text-decoration: none; /* removes the underline default of a hyperlink */
}

a:hover { /* Changes to the link elements when hovered over */
    font-size: 35px;
    color: hotpink;
}

#welcome {
    font-size: 30px;
    text-align: center;
}

footer {
    color: lightblue;
    margin-left: 25%;
    margin-top: 40px;
}

#logo {
    height: 150px;
    width: 200px;
    margin-top: -65px;
    float: left;
}

/* style modificaftions specific to the about me page starting with the table*/

table {
    margin: 40px auto; /* two values => [top, bottom] [left, right]  */
    color: white;

}
#table-header {
    background-color: black;
}

.table-row {
    background-color: rgba(118, 90, 122, 0.5);
}

td strong {
    color: #765a7a;
}

td {
    padding-right: 10px;
    font-size: 30px;
}

/* Configurations to style the interests list of the about me page */
#hobby-list {
    width: 800px;
    margin-left: 550px;
    text-align: left;
}

.hobby {
    color: #7891a3;
}

/* Modifies the text color and alignment within the table */
#container {
    color: lightgrey;
    text-align: center;
}


/* Style changes for the contact page */
#contact {
    margin-left: 650px;
    margin-top: 50px;
}

